@using Models
@model ProductVM

@{
	ViewData["Title"] = "Create";
}

<div class="card shadow border-0 mt-4 mx-auto" style="max-width:750px;">
	<div class="card-header bg-primary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-10">
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
					<input asp-for="Product.Id" hidden />
					<input asp-for="Product.ImageUrl" hidden />

					<div class="border p-3 mt-4">
						<div class="mb-3 p-1">
							<label asp-for="Product.Title" class="p-0"></label>
							<input asp-for="Product.Title" class="form-control shadow" />
							<span asp-validation-for="Product.Title" class="text-danger"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.ISBN" class="p-0"></label>
							<input asp-for="Product.ISBN" class="form-control shadow" />
							<span asp-validation-for="Product.ISBN" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.Author" class="p-0"></label>
							<input asp-for="Product.Author" class="form-control shadow" />
							<span asp-validation-for="Product.Author" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.ListPrice" class="p-0"></label>
							<input asp-for="Product.ListPrice" class="form-control shadow" />
							<span asp-validation-for="Product.ListPrice" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.Price" class="p-0"></label>
							<input asp-for="Product.Price" class="form-control shadow" />
							<span asp-validation-for="Product.Price" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.Price50" class="p-0"></label>
							<input asp-for="Product.Price50" class="form-control shadow" />
							<span asp-validation-for="Product.Price50" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.Price100" class="p-0"></label>
							<input asp-for="Product.Price100" class="form-control shadow" />
							<span asp-validation-for="Product.Price100" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.CategoryId" class="p-0"></label>
							<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select shadow">
								<option disabled selected>---Select Category---</option>
							</select>
							<span asp-validation-for="Product.CategoryId" class="text-danger text-sm"></span>
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.ImageUrl" class="p-0"></label>
							<input type="file" name="file" class="form-control shadow" />
						</div>
						<div class="mb-3 p-1">
							<label asp-for="Product.Description" class="p-0"></label>
							<textarea asp-for="Product.Description" class="form-control shadow"></textarea>
						</div>
						<button type="submit" class="btn btn-primary my-2 form-control">@(Model.Product.Id != 0 ? "Update" : "Create")</button>
						<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
					</div>
				</form>
			</div>
		</div>
		<div class="col-2">
			@if (!string.IsNullOrEmpty(Model.Product.ImageUrl))
			{
				<div class="mt-4">
					<img src="@Model.Product.ImageUrl" class="img-fluid rounded" alt="Responsive image" />
				</div>
			}
		</div>	
	</div>
</div>

@section Scripts {
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: [
				'autolink', 'charmap', 'codesample', 'table', 'wordcount'
			]
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}